body {
    font-family: 'Lato', sans-serif;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    width: 30%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #DC3544 !important;
    color: #fff !important;
}

.nav-pills .show>.nav-link:hover {
    background-color: #bd2130 !important;
}

.linkCinza {
    color: #fff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    -webkit-text-decoration-skip: objects !important;
}

.linkCinza:hover {
    color: #ccc !important;
}

p.noSpace {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 3%;
}

.title {
    margin-top: 3%;
    margin-bottom: 2%;
}

.btnCardHeader {
    margin-top: 10px
}